.contact-section {
    margin-top: 250px;
}

.contact-section .contact-container {
    border: 2px solid;
    border-image: linear-gradient(270deg, #343580 0%, #FBBC05 31.13%, #CD6C18 63.83%, #A42429 100%) 1;
    padding: 50px 100px;
    border-radius: 25px !important;
}

.contact-section .headings {
    color: var(--primary-red);
}

.contact-section .contact-info a {
    text-decoration: none;
    color: var(--body-color);
}

.contact-section .contact-container .text-color {
    color: var(--primary-blue);
}

.contact-section .contact-container .contact-icons .icons {
    font-size: 30px;
    padding: 6px;
    background: var(--secondary-color);
    color: var(--white-color);
    border-radius: 25px;
}

/* FORM */

.form-btn .btn-icon {
    font-size: 40px;
    color: var(--primary-red);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact-form input::placeholder {
    opacity: 0.5;
}

.contact-form input:focus {
    box-shadow: none;
}

.contact-form textarea::placeholder {
    opacity: 0.5;
}

.contact-form textarea:focus {
    box-shadow: none;
}

/* FORM */