.services-page {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 930px;
    padding: 200px 0;
}

.services-page img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -999;
}

.services-page .section-heading {
    padding-top: 350px;
}

.services-page .service-btn {
    padding-top: 50px;
}

.services-page .button {
    background-color: var(--primary-red);
    border: 4px solid var(--primary-red);
    border-radius: 25px;
    box-shadow: 0px 0px 10px 6px rgba(170, 45, 50, 0.541);
}

.overlay-containers {
    padding-top: 150px;
}


/* OVERLAY CONTAINERS */

/* RED OVERLAY CONTAINER */
.overlay-containers .red-overlay {
    position: relative;
    object-fit: cover;
    object-position: center;
}

.overlay-containers .first-note {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8f191db0;
    padding-left: 25px;
}

.overlay-containers .first-note {
    padding: 50px 0 0 50px;
}

.overlay-containers .first-note::after {
    content: "";
    position: absolute;
    width: 420px;
    height: 5px;
    top: 15px;
    left: 25px;
    background: linear-gradient(270deg, #A42429 0%, #FBBC05 31.13%, #CD6C18 63.83%, #343580 100%);
    transform: rotate(90deg);
    transform-origin: top left;
}

.overlay-containers .first-note .text-body {
    padding-right: 670px;
}

/* RED OVERLAY CONTAINER */


/* BLUE OVERLAY CONTAINER */
.overlay-containers .blue-overlay {
    margin-top: 60px;
    position: relative;
    object-fit: cover;
    object-position: center;
}

.overlay-containers .teach-harmony {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #343580c9;
    padding-left: 25px;
}

.overlay-containers .teach-harmony {
    padding: 50px 0 0 50px;
}

.overlay-containers .teach-harmony::after {
    content: "";
    position: absolute;
    width: 420px;
    height: 5px;
    top: 15px;
    left: 25px;
    background: linear-gradient(270deg, #A42429 0%, #FBBC05 31.13%, #CD6C18 63.83%, #343580 100%);
    transform: rotate(90deg);
    transform-origin: top left;
}

.overlay-containers .teach-harmony .text-body {
    padding-right: 580px;
}

/* BLUE OVERLAY CONTAINER */


/* ORANGE OVERLAY CONTAINER */
.overlay-containers .orange-overlay {
    margin-top: 60px;
    position: relative;
    object-fit: cover;
    object-position: center;
}

.overlay-containers .future-sounds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d66c2ed3;
    padding-left: 25px;
}

.overlay-containers .future-sounds {
    padding: 50px 0 0 50px;
}

.overlay-containers .future-sounds::after {
    content: "";
    position: absolute;
    width: 420px;
    height: 5px;
    top: 15px;
    left: 25px;
    background: linear-gradient(270deg, #A42429 0%, #FBBC05 31.13%, #CD6C18 63.83%, #343580 100%);
    transform: rotate(90deg);
    transform-origin: top left;
}

.overlay-containers .future-sounds .text-body {
    padding-right: 480px;
}

/* ORANGE OVERLAY CONTAINER */

/* OVERLAY CONTAINERS */




/* PRIVATE INSTRUCTIONS SECTION */

.section-instructions {
    padding-top: 150px;
}

.section-instructions .cards_private-instrustion {
    padding-top: 70px;
}

.section-instructions .cards_private-instrustion .list-items ul li {
    list-style-position: inside;
}

.section-instructions .cards_private-instrustion .card {
    border-radius: 25px;
}

.section-instructions .cards_private-instrustion .card .service_card-img {
    border-radius: 25px 25px 100px 100px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.section-instructions .cards_private-instrustion .card .service_card-btn {
    border: 4px solid var(--primary-yellow);
    border-radius: 50px;
}

/* PRIVATE INSTRUCTIONS SECTION */

.rehearsal-space {
    margin-top: 190px;
    background: url(/src/assets/services/rehearsal-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
    filter: brightness(80%);
}

.rehearsal-space .bottom-content {
    padding: 600px 0 50px 0;
}

.cancellation {
    padding-top: 180px;
}

@media screen and (width <=1399px) {
    .overlay-containers .first-note::after {
        width: 355px;
    }

    .overlay-containers .teach-harmony::after {
        width: 355px;
    }

    .overlay-containers .future-sounds::after {
        width: 355px;
    }
}

@media screen and (width <=1199px) {

    /* RED OVERLAY */
    .overlay-containers .first-note::after {
        width: 295px;
    }

    .overlay-containers .first-note {
        padding: 25px 0 0 50px;
    }

    .overlay-containers .first-note .text-body {
        padding-right: 297px;
    }

    /* BLUE OVERLAY */
    .overlay-containers .teach-harmony::after {
        width: 295px;
    }

    .overlay-containers .teach-harmony {
        padding: 25px 0 0 50px;
    }

    .overlay-containers .teach-harmony .text-body {
        padding-right: 218px;
    }

    /* ORANGE OVERLAY */
    .overlay-containers .future-sounds::after {
        width: 295px;
    }

    .overlay-containers .future-sounds {
        padding: 25px 0 0 50px;
    }

    .overlay-containers .future-sounds .text-body {
        padding-right: 102px;
    }
}

@media screen and (width <=991px) {

    /* RED OVERLAY */
    .overlay-containers .first-note::after {
        width: 210px;
    }

    .overlay-containers .first-note {
        padding: 0 0 0 50px;
    }

    .overlay-containers .first-note .text-body {
        padding-right: 57px;
    }

    .overlay-containers .red-overlay .fs-60 {
        font-size: 45px;
    }

    /* BLUE OVERLAY */
    .overlay-containers .teach-harmony::after {
        width: 210px;
    }

    .overlay-containers .teach-harmony {
        padding: 0 0 0 50px;
    }

    .overlay-containers .teach-harmony .text-body {
        padding-right: 0;
    }

    .overlay-containers .blue-overlay .fs-60 {
        font-size: 45px;
    }

    /* ORANGE OVERLAY */
    .overlay-containers .future-sounds::after {
        width: 210px;
    }

    .overlay-containers .future-sounds {
        padding: 0 0 0 50px;
    }

    .overlay-containers .future-sounds .text-body {
        padding-right: 0;
    }

    .overlay-containers .orange-overlay .fs-60 {
        font-size: 45px;
    }
}

@media screen and (width <=767px) {

    /* RED OVERLAY */
    .overlay-containers .first-note::after {
        width: 150px;
    }

    .overlay-containers .first-note {
        padding: 0 0 0 50px;
    }

    .overlay-containers .first-note .text-body {
        padding-right: 0;
    }

    .overlay-containers .red-overlay .fs-60 {
        font-size: 35px;
    }

    .overlay-containers .red-overlay .lh-70 {
        line-height: 40px;
    }

    /* BLUE OVERLAY */
    .overlay-containers .teach-harmony::after {
        width: 150px;
    }

    .overlay-containers .teach-harmony {
        padding: 0 0 0 50px;
    }

    .overlay-containers .teach-harmony .text-body {
        padding-right: 0;
    }

    .overlay-containers .blue-overlay .fs-60 {
        font-size: 35px;
    }

    .overlay-containers .blue-overlay .lh-70 {
        line-height: 40px;
    }

    /* ORANGE OVERLAY */
    .overlay-containers .future-sounds::after {
        width: 150px;
    }

    .overlay-containers .future-sounds {
        padding: 0 0 0 50px;
    }

    .overlay-containers .future-sounds .text-body {
        padding-right: 0;
    }

    .overlay-containers .orange-overlay .fs-60 {
        font-size: 35px;
    }

    .overlay-containers .orange-overlay .lh-70 {
        line-height: 40px;
    }
}

@media screen and (width <=575px) {
    .services-page .section-heading {
        padding-top: 200px;
        font-size: 60px;
    }

    .services-page .service-btn {
        padding-top: 50px;
    }

    .services-page .btn-w-216 {
        width: 180px;
    }

    .overlay-containers {
        padding-top: 80px;
    }

    /* RED OVERLAY */
    .overlay-containers .first-note::after {
        width: 160px;
    }

    .overlay-containers .first-note {
        padding: 0 0 0 50px;
    }

    .overlay-containers .first-note .text-body {
        padding-right: 0;
        padding-top: 10px;
        font-size: 12px;

    }

    .overlay-containers .red-overlay .fs-60 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 0;
    }

    /* BLUE OVERLAY */
    .overlay-containers .teach-harmony::after {
        width: 160px;
    }

    .overlay-containers .teach-harmony {
        padding: 0 0 0 50px;
    }

    .overlay-containers .teach-harmony .text-body {
        padding-right: 0;
        font-size: 12px;

    }

    .overlay-containers .blue-overlay .fs-60 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 0;
    }

    /* ORANGE OVERLAY */
    .overlay-containers .future-sounds::after {
        width: 160px;
    }

    .overlay-containers .future-sounds {
        padding: 0 0 0 50px;
    }

    .overlay-containers .future-sounds .text-body {
        padding-right: 0;
        font-size: 12px;

    }

    .overlay-containers .orange-overlay .fs-60 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 0;
    }
}