.hero-section {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 930px;
    padding: 200px 0;
}

.hero-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -999;
}

.hero-section .container {
    filter: brightness();
}

.hero-section .section-heading {
    padding-top: 150px;
}

.hero-section .hero-btn {
    margin-top: 80px;
}

.hero-section .hero-btn button {
    background: var(--primary-yellow);
    border: 4px solid var(--primary-yellow);
    border-radius: 50px;
    box-shadow: 0px 0px 10px 6px #b68d36;
}


@media screen and (991px <=width <=1199px) {
    .hero-section .section-heading {
        padding-top: 80px;
    }
}

@media screen and (width <=991px) {
    .hero-section .section-heading {
        font-size: 60px;
        padding-top: 80px;
    }

    .hero-section .section-subHeading {
        font-size: 35px;
    }

    .hero-section .hero-btn {
        margin-top: 50px;
    }
}