.navbar-section .navbar {
    background: var(--bg-color);
}

.navbar-section .navbar-logo {
    width: 100px;
}

.navbar-section .navbar-icon {
    color: var(--primary-blue);
}

.navbar-section .nav-items {
    text-transform: uppercase;
}

.navbar-section .nav-link {
    color: var(--body-color);
}

.navbar-section .nav-btn {
    background: var(--primary-blue);
    border-radius: 50px;
}

.navbar-section .navbar-toggler {
    border: none;
}

.navbar-section .navbar-toggler:focus {
    box-shadow: none;
}

@media screen and (992px<= width <=1199px) {
    .navbar-section .nav-items {
        font-size: 14px;
    }
}

@media screen and (width <=991px) {
    .navbar-section .collapsed-navbar {
        background: var(--white-color) !important;
    }
}