.features-section {
    padding-top: 200px;
}

.features-section .image-bg {
    padding: 80px 0;
    margin-top: 70px;
    background: url(/src/assets/images/features-bg.png) no-repeat;
    background-size: cover;
}


/* FEATURES CARDS */
.slick-dots {
    margin-top: 10px;
}

.slick-list {
    display: flex;
    justify-content: center;
}

.feature-card {
    background: none;
    align-items: center;
}

.feature-image {
    width: 250px;
}

.social-icons {
    margin-top: 40px;
}

.social-icons .feature-icons {
    font-size: 26px;
    background: var(--primary-yellow);
    color: var(--white-color);
    padding: 6px;
    border-radius: 25px;
}
/* FEATURES CARDS */