@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; 
  color: var(--body-color);
}

:root {
  --primary-red: #A42429;
  --primary-blue: #343580;
  --primary-yellow: #EAB33A;
  --secondary-color: #D66B2E;
  --body-color: #0B0B0B;
  --black-color: #000;
  --white-color: #fff;
  --bg-color: #ffffffcf;
  --news-bg: #EFEFEF;
  --border-color: linear-gradient(270deg, #343580 0%, #FBBC05 31.13%, #CD6C18 63.83%, #A42429 100%);
}

.red {
  color: var(--primary-red) !important;
}

.blue {
  color: var(--primary-blue) !important;
}

.yellow {
  color: var(--primary-yellow) !important;
}

.orange {
  color: var(--secondary-color) !important;
}

.white {
  color: var(--white-color) !important;
}

.section-heading {
  font-weight: 700;
  font-size: 96px;
  line-height: 90px;
}

.section-subHeading {
  font-weight: 300;
  font-size: 62px;
  line-height: 50px;
}

.text-heading {
  font-size: 24px;
  line-height: 25px;
}

.text-body {
  font-size: 16px;
  line-height: 23px;
}

.button {
  text-transform: uppercase;
  color: var(--white-color);
}

.btn-w-120 {
  width: 120px;
}

.btn-w-168 {
  width: 168px;
}

.btn-w-180 {
  width: 180px;
}

.btn-w-216 {
  width: 216px;
}

.rd-50 {
  border-radius: 50px;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.lh-18 {
  line-height: 18px;
}

.lh-20 {
  line-height: 20px;
}

.lh-30 {
  line-height: 30px;
}

.lh-50 {
  line-height: 50px;
}

.lh-70 {
  line-height: 70px;
}

.fs-24 {
  font-size: 24px;
}

.fs-34 {
  font-size: 34px;
}

.fs-48 {
  font-size: 48px;
}

.fs-60 {
  font-size: 60px;
}

.fs-62 {
  font-size: 62px;
}

.fs-96 {
  font-size: 96px;
}