.cards-section {
    margin-top: -225px !important;
}

.cards-section .left-side {
    padding-top: 280px;
}

.cards-section .left-side .heading .section-heading {
    color: var(--secondary-color);
}

.cards-section .left-side .heading .section-subHeading {
    color: var(--secondary-color);
}

.cards-section .left-side .card_section-btn {
    background: transparent;
    color: var(--body-color);
    border: 4px solid var(--primary-yellow);
    border-radius: 50px;
}

.cards-section .right-side .saxophone-image {
    width: 550px;
    filter: drop-shadow(5px 30px 30px rgba(0, 0, 0, 0.25));
    padding-top: 230px;
    transform: rotate(5deg);
}

/* CARD ITEMS */

.card-image {
    border-radius: 25px 25px 100px 100px;
}

.card-item {
    border-radius: 25px;
    width: 380px;
}

.card-butn {
    color: var(--primary-blue) !important;
}

.card-title {
    color: var(--primary-red) !important;
}

/* CARD ITEMS */

@media screen and (width <=991px) {
    .sound_card-third {
        margin-top: 25px;
    }

    .cards-section .right-side .saxophone-image {
        padding-top: 120px;
    }

}